.header{
text-align: justify;
}

.header img{
  width: 250px;
  height: 150px;
  float: left;
  }

.header h1{
  display: inline;
  position:relative;
  margin-left: 50px;
}
h1 {
  text-align: center;
}
.city img {
  width: 250px;
  height: 150px;
  float:right;
  margin-left: 10px;
}

body{
  margin: auto;
  width:98%;
  margin: auto;
}

table, th, td{
  border:1px solid black;
  border-collapse: collapse;
}

  .site img{
    width: 200px;
    height:auto;
    float: left;
  }
  .site p{
    text-align: justify;
    padding-right: 50px;
  }
  .site{
    width: 30%;
    display:inline-block;
    text-align: justify;
  }

  .places{
    float:left;
    width: 100%;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 360px) {
  .site{
    width:100%;
    max-width: 1894px;
    display: inline-block;
  }
}
@media only screen and (max-width: 1050px) {
  .site{
    width: 100%;
    max-width: 1894px;
    display: inline-block;
  }
}
